#exemplo{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid #EEE;
}

.verde{
    background-color: green;
    color: red;
}

/* .vermelho{
    background-color: red;
    color: black;
} */

.azul{
    background-color: blue;
    color: white;
}